.weather-widget {

  font-family: Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 30px auto;
}

.weather-widget .header {
  text-align: center;
  font-weight: bold;
}

.weather-widget h1 {
  font-size: 1.5em;
  margin-bottom: 5px;
  color: #fff;
}

.weather-widget .weather-data-details {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.weather-widget .weather-data-details .humidity {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-widget .weather-data-details .wind-speed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-widget .weather-data-details .temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.weather-widget .weather-data-details .condition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-widget .weather-data-details .location-search-result {
  font-size: 1.2em;
  margin-top: 0;
  color: #fff;
}

.location-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.data-value {
  font-size: 50px;
  margin: 5px 40px 5px 40px
}

#humidity-value {
  font-size: 20px;
}

#windSpeed-value {
  font-size: 40px;
}

#temperature-value {
  font-size: 70px;
}


#condition-value {
  font-size: 25px;
}


.location-search-input[type=text] {
  width: 30%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: #fff;
  background-image: url('../../../assets/images/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;


  transition: width 0.05s ease-in;
}

.location-search-input[type=text]:focus {
  width: 40%
}